@import '../../../scss/_variables.scss';
@import '../../../scss/_mixins.scss';

.Form {
  padding: 20px 40px;
  height: 84%;
  @include containerStyle();

}

:global(.FormContent) {
  padding-left: 90px;
}

div .buttons {
  @include flex(flex-end);
  padding-top: 30px;
}