@import "../../../scss/variables";

.Button {
  background-color: $gray;
  border: none;
  border-radius: 20px;
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.17);
  color: $white;
  cursor: pointer;
  font-size: $font-md;
  height: 39px;
  line-height: $line-height-sm;
  margin: 5px;
  outline: none;
  padding: 0 30px;
  text-transform: uppercase;
  -webkit-appearance: button;
}

