@import '../../scss/_variables.scss';

.Header {
  font-family: 'DancingScript';
  width: 100%;
  height: 50px;
  padding:10px;
  display: flex;
  background-color: $headerBg;
  color: $headingLight;
  font-size: $font-md;
}

.Image {
  width: 60px;
  height: 100%;
}
