@import "../../scss/_variables.scss";

.Dashboard {
  background-color: $bodyBackground;
  font-family: "Poppins";
  font-size: $font-sm;
  font-weight: $regular;
  color: $textColor;
  height: 100%;
  width: 80%;
  flex-grow: 1;
}

.Wrapper {
  height: 100%;
  width: 90%;
  margin: 15px auto;
}
