@import '../../scss/_variables.scss';

.Dashboard {
  background-color: $sidebarBackground;
  color: $textColor;
  height: 100%;
  width: 60%;
  flex-grow: 1;
}

.Wrapper {
  background-color: $white;
  height: 80%;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
}
