@import "../../../../scss/variables";

.Button {
  background-color: $gray;
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  font-size: $font-md;
  height: 39px;
  margin: 5px;
  outline: none;
  padding: 0 15px;
  text-transform: uppercase;
}