@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.Button{

  width: 129px;
  height: 39px;
  background-color: $gray;
  border-radius: 20px;
  color: $white;
  text-transform: uppercase;
  font-size: $font-md;
  border-bottom-style: none;
  margin: 5px;
  cursor: pointer;
  border-color: transparent;
  outline: none;

}