@import "../../../scss/_variables.scss";
@import "../../../scss/_mixins.scss";

.ProgressBar {
  @include containerStyle();
  @include flex(center);
  margin-bottom: 20px;
  height: 100px;

  .ProgressBar__list {
    align-items: center;
    @include flex(center);
    width: 100%;

    li {
      color: $lightGrey;
      list-style-type: none;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      width: 100%;

      &::before {
        background-color: white;
        border: 10px solid $lightGrey;
        border-radius: 50%;
        content: "";
        display: flex;
        height: 10px;
        line-height: 60px;
        margin: 0 auto 5px auto;
        position: relative;
        text-align: center;
        width: 10px;
        z-index: 2;
      }

      &::after {
        background-color: $lightGrey;
        content: "";
        height: 2px;
        left: -50%;
        position: absolute;
        top: 25px;
        width: 100%;
        z-index: 0;
      }

      &:first-child::after {
        content: none;
      }

      &.active {
        color: $fieryRed;
      }

      &.active::before {
        background: white;
        border: 10px solid $fieryRed;
      }

      &.active::after {
        background-color: $fieryRed;
      }

      &.active::before {
        background: white;
        background-size: 60%;
      }

      &::before {
        background: white;
        background-size: 60%;
      }
    }
  }
}
