@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
}


@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(../assets/fonts/PlayfairDisplay-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'DancingScript';
  src: url(../assets/fonts/DancingScript-Regular.ttf) format('truetype');
  font-weight: 700;
}