//COLORS
$white: #fff;
$lightBlack: #2a2a2a;
$black: #000;
$lightMarine: rgba(#0d4c5e, 0.02);
$yellowGreen: #d3d02e;
$lightOrange: #f1e8e6;
$orange: #f55951;
$red: #dd1313;
$violet: #4b3549;
$darkViolet: #361d32;
$lightGray: #dcd8d8;
$gray: #adadad;
$fieryRed: #f55951;
$lightGrey: #dcd8d8;

//TYPOGRAPHY

//font-sizes
$font-xs: 12px;
$font-sm: 13px;
$font-md: 16px;
$font-lg: 30px;

$line-height-sm: 18px;
$line-height-md: 24px;
$line-height-ld: 40px;

//font-weight
$regular: 400;
$bold: 700;

$letter-spacing-default: 1.25px;

//GLOBAL
$bodyBackground: $lightOrange;
$textColor: $lightBlack;
$alertColor: $red;

$headingLight: $white;
$headingDark: $black;

$radiusContainer: 20px;

//LAYOUT
$headerBg: $darkViolet;
$sidebarBg: $violet;
$sidebarColor: $white;
$dashboardBg: $white;
